{% extends "base.html" %}

{% block body_class %}bg-frameworks{% endblock %}

{% block content %}
<div style="color:teal;">
    <h2>Python Frameworklari</h2>
    <ul>
        <li><a href="https://www.djangoproject.com/" class="btn btn-info" target="_blank">Django</a></li>
        <br>
        <li><a href="https://flask.palletsprojects.com/en/stable/" class="btn btn-info" target="_blank">Flask</a></li>
        <br>
        <li><a href="https://fastapi.tiangolo.com/" class="btn btn-info" target="_blank">FastAPI</a></li>
        <br>
        <li><a href="https://docs.cherrypy.dev/en/latest/" class="btn btn-info" target="_blank">Cherrypy</a></li>

    </ul>
</div>
{% endblock %}
