{% extends "base.html" %}

{% block body_class %}bg-libraries{% endblock %}

{% block content %}
   <div style="color:teal;">
       <h2>Python Kutubxonalari</h2>
    <ul>
        <li><a href="https://numpy.org/" class="btn btn-dark" target="_blank">NumPy</a></li>
        <br>
        <li><a href="https://pandas.pydata.org/" class="btn btn-dark" target="_blank">Pandas</a></li>
        <br>
        <li><a href="https://matplotlib.org/" class="btn btn-dark" target="_blank">Matplotlib</a></li>
        <br>
        <li><a href="https://pytorch.org/" class="btn btn-dark" target="_blank">PyTorch</a></li>
    </ul>
    </div>
{% endblock %}
